.box {
    font-size: 20px;
    background-color: pink;
    margin: 40px;
    padding: 20px;
    border: 1px solid pink;
    box-shadow: 3px 4px 4px 3px rgb(248, 116, 116),
                -3px -4px 4px 3px rgb(154, 154, 236);
}