/* "." front of class name*/
.box {
    background-color: skyblue;
    padding: 20px;
    margin-bottom: 20px;
}

.title {
    font-size: 60px;
}

.text {
    font-size: 30px;
}

.button {
    color: white;
    background-color: blueviolet;
    padding: 15px;
    text-align: center;
    /* text-decoration make no underline*/
    text-decoration: none;
    margin-bottom: 10px;

    /* make it full line */
    /* display: block;
    width: 30%; */

    /* inline block make it not full line*/
    display: inline-block;
    width: 30%;
}