.flex {
    border: 1px solid grey;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.item1 {
    background-color: lightblue;
}

.item2 {
    background-color: lightpink;
}