.box-e {
    width: 350px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    margin-bottom: 100px;
    border-radius: 5px;
}

.home, .notification, .message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.num-home, .num-noti, .num-message {
    background-color: rgb(88, 88, 231);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
}



